{% macro ent() %}
    <tr id="detail{{item.id}}" style="display: none;">
        <td colspan="2"></td>
        <td colspan="4">
            <table>
                <thead>
                    <tr>
                        <th class="mid" style="width: 4%">
                            <button onclick="toggle('row_{{type}}_ent_new'+'{{item.id}}')">
                                <i class="fas fa-plus fa-1x"></i>
                            </button>
                        </th>
                        <th style="width: 37%">Title</th>
                        <th class="mid" style="width: 19%">Value</th>
                        <th class="mid" style="width: 26%">Time</th>
                        <th class="mid" style="width: 14%">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="row_{{type}}_ent_new{{item.id}}" style="display: none;">
                        <td></td>
                        <td>
                            <input type="text" name="title" size="25" form="form_post_{{type}}_ent{{item.id}}">
                        </td>
                        <td class="num mid">
                            <input type="text" name="value" size="8" form="form_post_{{type}}_ent{{item.id}}">
                        </td>
                        <td class="mid">
                            <input type="date" name="time" form="form_post_{{type}}_ent{{item.id}}">
                        </td>
                        <td class="mid">
                            <div class="in-row">
                                <button form="form_post_{{type}}_ent{{item.id}}">
                                    <i class="fas fa-check fa-1x"></i>
                                </button>
                            </div>
                            <div class="in-row">
                                <button onclick="toggle('row_{{type}}_ent_new'+'{{item.id}}');">
                                    <i class="fas fa-times fa-1x"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% for e in data.ent -%}
                        {%- if item.id == e.parent_id -%}
                            <tr id="row_{{type}}_ent_edit{{e.id}}" style="display: none;">
                                <td></td>
                                <td><input type="text" name="title" size="25" form="form_put_{{type}}_ent{{e.id}}" value="{{e.title}}"></td>
                                <td class="mid"><input type="text" name="value" size="8" form="form_put_{{type}}_ent{{e.id}}" value="{{e.value}}"></td>
                                <td class="num mid"><input type="date" name="time" form="form_put_{{type}}_ent{{e.id}}" value="{{e.time}}"></td>
                                <td class="mid">
                                    <div class="in-row">
                                        <button form="form_put_{{type}}_ent{{e.id}}">
                                            <i class="fas fa-check fa-1x"></i>
                                        </button>
                                    </div>
                                    <div class="in-row">
                                        <button onclick="toggle('row_{{type}}_ent_edit'+'{{e.id}}'); toggle('row_{{type}}_ent'+'{{e.id}}');">
                                            <i class="fas fa-times fa-1x"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr id="row_{{type}}_ent{{e.id}}">
                                <td></td>
                                <td>{{ e.title }}</td>
                                <td class="num mid green_pos_red_neg">{{ e.value }}</td>
                                <td class="num mid">{{ e.time }}</td>
                                <td class="mid">
                                    <div class="in-row">
                                        <button onclick="toggle('row_{{type}}_ent_edit'+'{{e.id}}'); toggle('row_{{type}}_ent'+'{{e.id}}');">
                                            <i class="fas fa-pencil-alt fa-1x"></i>
                                        </button>
                                    </div>
                                    <div class="in-row">
                                        <button form="form_delete_{{type}}_ent{{e.id}}">
                                            <i class="fas fa-trash-alt fa-1x"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {%- endfor %}
                </tbody>                                                            
            </table>
        </td>
        <td></td>
        <td></td>
    </tr>
{% endmacro %}