<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            let time = JSON.parse('{{ sum_mth }}')
            let time_all = [['Time', 'Receipt'], [time[0][0].toString()+'-'+time[0][1].toString(), time[0][2]]], time_1yr = [['Time', 'Receipt']], time_3yr = [['Time', 'Receipt']]
            let t = time[0][0] * 12 + time[0][1] - 1, now_t = new Date().getFullYear() * 12 + new Date().getMonth()
            for (let i=1; i<time.length; i++){
                t++;
                while(t != time[i][0] * 12 + time[i][1]){
                    let item = [Math.floor(t / 12).toString()+'-'+(t % 12 + 1).toString(), 0]
                    if(now_t - t < 12) time_1yr.push(item)
                    if(now_t - t < 36) time_3yr.push(item)
                    time_all.push(item)
                    t++;
                }
                let item = [time[i][0].toString()+'-'+time[i][1].toString(), time[i][2]]
                if(now_t - t < 12) time_1yr.push(item)
                if(now_t - t < 36) time_3yr.push(item)
                time_all.push(item)
            }
            var data_all = google.visualization.arrayToDataTable(time_all);
            var data_1yr = google.visualization.arrayToDataTable(time_1yr);
            var data_3yr = google.visualization.arrayToDataTable(time_3yr);

            var options = {
                title: 'Time',
                curveType: 'function',
                legend: { position: 'bottom' },
                hAxis: {
                    title: 'Year',
                },
                vAxis:{
                    title: "Receipt",
                },
                backgroundColor: '#152036',
            };

            var chart_all = new google.visualization.LineChart(document.getElementById('chart_all'));
            var chart_1yr = new google.visualization.LineChart(document.getElementById('chart_1yr'));
            var chart_3yr = new google.visualization.LineChart(document.getElementById('chart_3yr'));

            chart_all.draw(data_all, options);
            chart_1yr.draw(data_1yr, options);
            chart_3yr.draw(data_3yr, options);
        }
    </script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/button.css">
    <link rel="stylesheet" href="/static/css/text.css">
</head>

<body>
    {% from "side_bar.html" import side_bar with context %}
    {{side_bar(1)}}
    <div class="container">
        <div id="chart_all" style="width:100%; height: 500px;"></div>
        <div id="chart_3yr" style="width:100%; height: 500px;"></div>
        <div id="chart_1yr" style="width:100%; height: 500px;"></div>
        
    </div>
    
</body>

</html>