<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://kit.fontawesome.com/f955407fc8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src={{ url_for("static", filename="js/index.js") }}></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var getChartData = function(duration){
            duration = Math.floor(duration)
            let time = [], rcpt = [], expnd = [], inv = []
            let time_str = '{{data.time}}'
            let time_arr = time_str.substring(1, time_str.length-1).split(', ')
            for(let t in time_arr)time.push(time_arr[t].substring(5, time_arr[t].length-5))
            let rcpt_str = '{{data.rcpt}}'
            let rcpt_arr = rcpt_str.substring(1, rcpt_str.length-1).split(', ')
            for(let t in rcpt_arr)rcpt.push(parseInt(rcpt_arr[t]))
            let expnd_str = '{{data.expnd}}'
            let expnd_arr = expnd_str.substring(1, expnd_str.length-1).split(', ')
            for(let t in expnd_arr)expnd.push(parseInt(expnd_arr[t]))
            let inv_str = '{{data.inv}}'
            let inv_arr = inv_str.substring(1, inv_str.length-1).split(', ')
            for(let t in inv_arr)inv.push(parseInt(inv_arr[t]))

            let n = time.length
            return [n, time.slice(n-duration, n), rcpt.slice(n-duration, n), expnd.slice(n-duration, n), inv.slice(n-duration, n)]
        }
        var drawChart = function(data_arr, duration){
            duration = Math.floor(duration)
            let time = data_arr[1], rcpt = data_arr[2], expnd = data_arr[3], inv = data_arr[4]
            const data = {
                labels: time,
                datasets: [{
                    label: 'Receipt',
                    data: rcpt,
                    fill: false,
                    borderColor: 'rgb(0, 205, 102)',
                    color: 'white',
                    cubicInterpolationMode: 'monotone',
                    lineTension: 0.5,
                }, {
                    label: 'Expandture',
                    data: expnd,
                    fill: false,
                    borderColor: 'rgba(255, 80, 102, 1)',
                    color: 'white',
                    cubicInterpolationMode: 'monotone',
                    lineTension: 0.5,
                }, {
                    label: 'Investment',
                    data: inv,
                    fill: false,
                    borderColor: 'purple',
                    color: 'white',
                    cubicInterpolationMode: 'monotone',
                    lineTension: 0.5,
                }]
            };
            var ctx = document.getElementById("myChart");
            ctx.height = 120;
            
            Chart.defaults.font.size = 16;
            Chart.defaults.font.family = 'Papyrus';
            Chart.defaults.color = 'white';
            Chart.defaults.scale.grid.color = 'rgb(34, 42, 61)';
            Chart.defaults.scale.grid.lineWidth = 3

            return new Chart(
                ctx, 
                {                    
                    type: 'line',
                    data,
                    options: { 
                        animation: false,
                        scales: {
                            y: {
                                suggestedMin: -Math.max(Math.max.apply(Math, rcpt), Math.max.apply(Math, expnd), Math.max.apply(Math, inv)),
                                suggestedMax: -Math.min(Math.min.apply(Math, rcpt), Math.min.apply(Math, expnd), Math.min.apply(Math, inv)),
                            }
                        }
                    }
                }
            );
        }
        window.onload = function() {
            let duration = 12, zoom_rate = -0.001
            let data_arr = getChartData(duration)
            let chart = drawChart(data_arr, duration)
            let chart_element = document.querySelector("#myChart");
            
            chart_element.onwheel = function (e) {
                duration *= (1 + e.wheelDelta * zoom_rate)
                duration = Math.max(Math.min(duration, data_arr[0]), 4)
                chart.destroy()
                data_arr = getChartData(duration)
                chart = drawChart(data_arr, duration)
            };
            
        }
    </script>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/button.css">
    <link rel="stylesheet" href="/static/css/text.css">
</head>

<body>
    {% from "side_bar.html" import side_bar with context %}
    {{side_bar(1)}}

    

    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    
</body>

</html>