<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/button.css">
        <link rel="stylesheet" href="/static/css/text.css">
        <link rel="stylesheet" href="/static/css/table.css">
        <script src="https://kit.fontawesome.com/f955407fc8.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src={{ url_for("static", filename="js/index.js") }}></script>
    </head>
    <body>
        {% from "side_bar.html" import side_bar with context %}
        {{side_bar(1)}}
        
        <form id="form_post_receipt_class" method='POST' action="/post/receipt_class"></form>
        {% for receipt_class in data.receipt_class -%}
            <form id="form_put_receipt_class{{receipt_class.id}}" method='POST' action="/put/receipt_class/{{receipt_class.id}}"></form>
            <form id="form_delete_receipt_class{{receipt_class.id}}" method='POST' action="/delete/receipt_class/{{receipt_class.id}}"></form>  
            <form id="form_post_receipt{{receipt_class.id}}" method="POST" action="/post/receipt/{{receipt_class.id}}"></form>
        {% endfor -%}            
        {% for receipt in data.receipt -%}
            <form id="form_put_receipt{{receipt.id}}" method='POST' action="/put/receipt/{{receipt.id}}"></form>
            <form id="form_delete_receipt{{receipt.id}}" method='POST' action="/delete/receipt/{{receipt.id}}"></form>
            <form id="form_post_receipt_entity{{receipt.id}}" method="POST" action="/post/receipt_entity/{{receipt.id}}"></form>
        {% endfor -%}
        {% for receipt_entity in data.receipt_entity -%}
            <form id="form_put_receipt_entity{{receipt_entity.id}}" method='POST' action="/put/receipt_entity/{{receipt_entity.id}}"></form>
            <form id="form_delete_receipt_entity{{receipt_entity.id}}" method='POST' action="/delete/receipt_entity/{{receipt_entity.id}}"></form>
        {% endfor -%}

        <div class="grid container">
            <div class="grid4">
                <div class="table-responsive">
                    <table class="table1">
                        <thead>
                            <tr>
                                <th class="mid" style="width: 5%">
                                    <button onclick="toggle('new_row_receipt_class')">
                                        <i class="fas fa-plus fa-2x"></i>
                                    </button>
                                </th>
                                <th style="width: 35%">TITLE</th>
                                <th class="mid" style="width: 15%"></th>
                                <th class="mid" style="width: 15%">COUNT</th>
                                <th class="mid" style="width: 15%">AMOUNT</th>
                                <th class="mid" style="width: 15%">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="new_row_receipt_class" style="display: none;">
                                <td></td>
                                <td><input type="text" name="title" form="form_post_receipt_class"/></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="mid">
                                    <div class="in-row">
                                        <button form="form_post_receipt_class">
                                            <i class="fas fa-check fa-2x"></i>
                                        </button>
                                    </div>
                                    <div class="in-row">
                                        <button onclick="toggle('new_row_receipt_class');">
                                            <i class="fas fa-times fa-2x"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% for receipt_class in data.receipt_class -%}
                                <tr id="edit_row_receipt_class{{receipt_class.id}}" style="display: none;">
                                    <td></td>
                                    <td><input style="color:white; background-color: rgb(34,42,61); outline: none; border:1px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;" type="text" name="title" form="form_put_receipt_class{{receipt_class.id}}" value="{{ receipt_class.title }}" autofocus/></td>
                                    <td></td>
                                    <td class="num mid">{{ receipt_class.count}}</td>
                                    <td class="num mid green_pos_red_neg">{{ receipt_class.amount }}</td>
                                    <td class="mid">
                                        <div class="in-row">
                                            <button form="form_put_receipt_class{{receipt_class.id}}">
                                                <i class="fas fa-check fa-2x"></i>
                                            </button>
                                        </div>
                                        <div class="in-row">
                                            <button onclick="toggle('edit_row_receipt_class'+'{{receipt_class.id}}'); toggle('row_receipt_class'+'{{receipt_class.id}}');">
                                                <i class="fas fa-times fa-2x"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="clickable" id="row_receipt_class{{receipt_class.id}}" onclick="toggle('detail_table_receipt_class'+'{{receipt_class.id}}')">
                                    <td></td>
                                    <td>{{ receipt_class.title }}</td>
                                    <td></td>
                                    <td class="num mid">{{ receipt_class.count}}</td>
                                    <td class="num mid green_pos_red_neg">{{ receipt_class.amount }}</td>
                                    <td class="mid">
                                        <div class="in-row">
                                            <button onclick="toggle('edit_row_receipt_class'+'{{receipt_class.id}}'); toggle('row_receipt_class'+'{{receipt_class.id}}'); toggle('detail_table_receipt_class'+'{{receipt_class.id}}');">
                                                <i class="fas fa-pencil-alt fa-2x"></i>
                                            </button>
                                        </div>
                                        <div class="in-row">
                                            <button form="form_delete_receipt_class{{receipt_class.id}}" onclick="toggle('detail_table_receipt_class'+'{{receipt_class.id}}');">
                                                <i class="fas fa-trash-alt fa-2x"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
    
                                <tr id="detail_table_receipt_class{{receipt_class.id}}" style="display: none;">
                                    <td colspan="1"></td>
                                    <td colspan="4">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="mid" style="width: 5%">
                                                        <button onclick="toggle('new_row_receipt'+'{{receipt_class.id}}')">
                                                            <i class="fas fa-plus fa-1x"></i>
                                                        </button>
                                                    </th>
                                                    <th style="width: 35%">Title</th>
                                                    <th style="width: 15%"></th>
                                                    <th class="mid" style="width: 15%">COUNT</th>
                                                    <th class="mid" style="width: 15%">AMOUNT</th>
                                                    <th class="mid" style="width: 15%">ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="new_row_receipt{{receipt_class.id}}" style="display: none;">
                                                    <td></td>
                                                    <td><input type="text" name="title" form="form_post_receipt{{receipt_class.id}}"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="mid">
                                                        <div class="in-row">
                                                            <button form="form_post_receipt{{receipt_class.id}}">
                                                                <i class="fas fa-check fa-1x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="in-row">
                                                            <button onclick="toggle('new_row_receipt'+'{{receipt_class.id}}');">
                                                                <i class="fas fa-times fa-1x"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% for receipt in data.receipt -%}
                                                    {%- if receipt_class.id == receipt.class_id -%}
                                                        <tr id="edit_row_receipt{{receipt.id}}" style="display: none;">
                                                            <td></td>
                                                            <td><input type="text" name="title"  form="form_put_receipt{{receipt.id}}" value="{{receipt.title}}"></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="mid">
                                                                <div class="in-row">
                                                                    <button form="form_put_receipt{{receipt.id}}">
                                                                        <i class="fas fa-check fa-1x"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="in-row">
                                                                    <button onclick="toggle('edit_row_receipt'+'{{receipt.id}}'); toggle('row_receipt'+'{{receipt.id}}');">
                                                                        <i class="fas fa-times fa-1x"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr id="row_receipt{{receipt.id}}">
                                                            <td></td>
                                                            <td>{{ receipt.title }}</td>
                                                            <td></td>
                                                            <td class="num mid">{{ receipt.count }}</td>
                                                            <td class="num mid green_pos_red_neg">{{ receipt.amount }}</td>
                                                            <td class="mid" style="position: relative;">
                                                                <div class="in-row">
                                                                    <button class="view-receipt-entity-button" onmouseover="toggle('detail_table_receipt'+'{{receipt.id}}', '');">
                                                                        <i class="fas fa-eye fa-1x"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="in-row">
                                                                    <button onclick="toggle('edit_row_receipt'+'{{receipt.id}}'); toggle('row_receipt'+'{{receipt.id}}');">
                                                                        <i class="fas fa-pencil-alt fa-1x"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="in-row">
                                                                    <button form="form_delete_receipt{{receipt.id}}">
                                                                        <i class="fas fa-trash-alt fa-1x"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="floating-box" id="detail_table_receipt{{receipt.id}}" style="display: none;" onmouseleave="toggle('detail_table_receipt'+'{{receipt.id}}', 'none');">
                                                                    <table>
                                                                        <thead>
                                                                            <th class="mid" style="width: 5%">
                                                                                <button onclick="toggle('new_row_receipt_entity'+'{{receipt.id}}')">
                                                                                    <i class="fas fa-plus fa-1x"></i>
                                                                                </button>
                                                                            </th>
                                                                            <th class="mid" style="width: 25%">VALUE</th>
                                                                            <th class="mid" style="width: 45%">TIME</th>
                                                                            <th class="mid" style="width: 25%">Delete</th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr id="new_row_receipt_entity{{receipt.id}}" style="display: none;"> 
                                                                                <td></td>
                                                                                <td><input type="text" name="value" form="form_post_receipt_entity{{receipt.id}}" size=7%/></td>
                                                                                <td><input type="date" name="time" form="form_post_receipt_entity{{receipt.id}}" size=7%/></td>
                                                                                <td class="mid">
                                                                                    <div class="in-row">
                                                                                        <button form="form_post_receipt_entity{{receipt.id}}">
                                                                                            <i class="fas fa-check fa-1x"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="in-row">
                                                                                        <button onclick="toggle('new_row_receipt_entity'+'{{receipt.id}}');">
                                                                                            <i class="fas fa-times fa-1x"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            {% for receipt_entity in data.receipt_entity -%}
                                                                                {%- if receipt.id == receipt_entity.receipt_id -%}
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td class="num mid green_pos_red_neg">{{ receipt_entity.value }}</td>
                                                                                    <td>{{ receipt_entity.time }}</td>
                                                                                    <td>
                                                                                        <button form="form_delete_receipt_entity{{receipt_entity.id}}">
                                                                                            <i class="fas fa-trash-alt fa-1x"></i>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                                {% endif %}
                                                                            {%- endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {%- endfor %}
                                            </tbody>                                                            
                                        </table>
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            {%- endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>