{% macro side_bar(selected) %}
    <div class="side-bar">
        <div class="side-bar-logo"></div>
        <div class="line"></div>
        {% if selected==0 %}
            <div class="side-bar-block">
                <button class="btn btn-select" onclick="location.href='/dashboard'">
                    <i class="fas fa-home fa-4x"></i>
                </button>
            </div>
        {% else %}
            <div class="side-bar-block" onclick="location.href='/dashboard'">
                <button class="btn">
                    <i class="fas fa-home fa-4x"></i>
                </button>
            </div>
        {% endif %}
        {% if selected==1 %}
            <div class="side-bar-block">
                <button class="btn btn-select" onclick="location.href='/reciept'">
                    <i class="fas fa-wallet fa-4x"></i>
                </button>
            </div>
        {% else %}
            <div class="side-bar-block">
                <button class="btn" onclick="location.href='/reciept'">
                    <i class="fas fa-wallet fa-4x"></i>
                </button>
            </div>
        {% endif %}
        {% if selected==2 %}
            <div class="side-bar-block">
                <button class="btn btn-select" onclick="location.href='/expenditure'">
                    <i class="fas fa-credit-card fa-4x"></i>
                </button>
            </div>
        {% else %}
            <div class="side-bar-block">
                <button class="btn" onclick="location.href='/expenditure'">
                    <i class="fas fa-credit-card fa-4x"></i>
                </button>
            </div>
        {% endif %}
        {% if selected==3 %}
            <div class="side-bar-block">
                <button class="btn btn-select" onclick="location.href='/investment'">
                    <i class="fas fa-balance-scale-left fa-4x"></i>
                </button>
            </div>
        {% else %}
            <div class="side-bar-block">
                <button class="btn" onclick="location.href='/investment'">
                    <i class="fas fa-balance-scale-left fa-4x"></i>
                </button>
            </div>
        {% endif %}
    </div>
{% endmacro %}